<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
      necessitatibus quis adipisci vitae fugit, placeat maxime magnam amet nobis
      at expedita quod et dolores. Voluptas ea dignissimos eius ipsa rerum!
    </p>
  </header>

  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo adipisci
        deleniti, consequuntur pariatu
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
      necessitatibus quis adipisci vitae fugit, placeat maxime magnam amet nobis
      at expedita quod et dolores. Voluptas ea dignissimos eius ipsa rerum!
    </p>
  </div>
</section>
